# Default values for generic-app-chart.

# -- (string) The service's name, required.
# This name is used across nearly all manifest templates within the
# generic-app/templates directory to identify your service.
name:

replicas: 1
image:
  repository: dummy-image-name
  tag: dummy-tag-name
  pullPolicy: Always

labels: {}

podSecurityContext:
  fsGroup: 2000

securityContext:
  capabilities:
    drop:
      - ALL
  runAsUser: 1000
  runAsNonRoot: true
  readOnlyRootFilesystem: true

service:
  port: 4141
  targetPort: http
  protocol: TCP
  type: ClusterIP
  enabled: true

livenessProbe:
  httpGet:
    path: /healthz
    port: http
  failureThreshold: 3
  initialDelaySeconds: 5
  periodSeconds: 20
  timeoutSeconds: 2

readinessProbe:
  httpGet:
    path: /healthz
    port: http
  failureThreshold: 3
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 1

resources:
  limits:
    cpu: 300m
    memory: 1024Mi
  requests:
    cpu: 100m
    memory: 350Mi

serviceMonitor:
  enabled: false
  path: '/metrics'

  # Used to pass Labels that are used by the Prometheus installed in your cluster
  # to select Service Monitors to work with
  additionalLabels: {}

serviceAccount:
  create: true

ingress: {}

envFromSecrets: []

envFromSecretsKeyRef: []

envSecrets: []

# Creates new secrets and mounts them as a volume inside the deployment, useful when the container expects secrets as files
volumeSecrets: []
# Example:
#  - name: my-secret
#    mountPath: /var/secrets/dummy
#    filename: key.json
#    secret: |
#      some
#      multiline secret

volumeMounts: []
# Example:
#   - mountPath: /cache
#     name: cache-volume
volumes: []
# Example:
#    - name: cache-volume
#      emptyDir:
#       sizeLimit: 500Mi

pdb:
  enabled: false
  maxUnavailable: 30%

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilization: 80
# Note: Avoid using HPA (autoscaling parameter in values.yaml) and VPA together unless you fully understand the implications.
# Combining them can lead to unpredictable scaling behavior. Use with caution if both are enabled.
vpa:
  enabled: false
  updateMode: Auto
  min:
    cpu: 100m
    memory: 100Mi
  max:
    cpu: 500m
    memory: 250Mi

# -- (yaml) Node affinity constrains which nodes your pod can be scheduled on.
# Anti affinity describes which nodes to avoid scheduling pods on.
# @notationType -- yaml
affinity: |
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            {{- include "generic-app.selectorLabels" . | nindent 10 }}
        topologyKey: kubernetes.io/hostname

# -- (yaml) Topology spread constraints control how Pods are spread across the cluster.
# @notationType -- yaml
topologySpreadConstraints: |
  - maxSkew: 1
    topologyKey: topology.kubernetes.io/zone
    whenUnsatisfiable: DoNotSchedule
    labelSelector:
      matchLabels:
        {{- include "generic-app.selectorLabels" . | nindent 6 }}

nodeSelector: {}
tolerations: []
deployment:
  enabled: true

# Example extraManifests usage:
# extraManifests:
#   - apiVersion: v1
#     kind: ConfigMap
#     metadata:
#       name: example-config
#     data:
#       key: value
