* @smartcontractkit/ccip-protocol
build/devenv @smartcontractkit/ccip-platform
deployment @smartcontractkit/ccip-platform
bootstrap @smartcontractkit/ccip-platform
changelog @smartcontractkit/ccip-platform
tools @smartcontractkit/ccip-platform
common/monitoring @smartcontractkit/ccip-platform
common/jd @smartcontractkit/ccip-platform
common/metrics @smartcontractkit/ccip-platform
