{{- $global := . -}}
{{- range until (include "chainlink-cluster.clusterSize" . | int) }}
  {{- $merged := dict "common" $global.Values.common "overrides" $global.Values.overrides "idx" . | include "chainlink-cluster.merged" | fromYaml -}}
  {{- if and ($global.Values.enabled) ($merged.otel.enabled) }}
  {{- $nodeName :=  dict "global" $global "merged" $merged "idx" . | include "chainlink-cluster.nodeName" -}}
  {{- $labels := dict "global" $global "merged" $merged "nodeName" $nodeName | include "chainlink-cluster.labelMachine" | fromYaml }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $nodeName }}-cm-otel
  labels: {{ $labels.instance | nindent 4 }}
data:
  sidecar: |
    {{- if and $merged.otel.config $merged.otel.config.receivers }}
    receivers: {{ $merged.otel.config.receivers | toYaml | nindent 6 }}
    {{- else }}
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:{{ $merged.otel.ports.grpc }}
            include_metadata: true
            {{- if and $merged.otel.receivers $merged.otel.receivers.grpc $merged.otel.receivers.grpc.max_recv_msg_size_mib }}
            max_recv_msg_size_mib: {{ $merged.otel.receivers.grpc.max_recv_msg_size_mib }}
            {{- end }}
          http:
            endpoint: 0.0.0.0:{{ $merged.otel.ports.http }}
            include_metadata: true
    {{- end }}
    {{- if and $merged.otel.config $merged.otel.config.processors }}
    processors: {{ $merged.otel.config.processors | toYaml | nindent 6 }}
    {{- else }}
    processors:
      batch:
        metadata_keys:
          - X-Beholder-Node-Auth-Token
        send_batch_size: 512
        timeout: 5s
      k8sattributes:
        passthrough: true
      memory_limiter:
        check_interval: 5s
        limit_mib: 256
        spike_limit_mib: 64
      resource:
        attributes:
          - action: insert
            key: k8s.pod.uid
            value: ${OTEL_RESOURCE_ATTRIBUTES_POD_UID}
          - action: insert
            key: k8s.pod.ip
            value: ${POD_IP}
          - action: insert
            key: k8s.pod.name
            value: ${POD_NAME}
          - action: upsert
            # Config version attribute for rollout / config diff correlation.
            key: config_version
            value: {{ default "v1" $merged.otel.configVersion | quote }}
          {{- if $merged.otel.resourceAttributesOverrides }}
          {{- $merged.otel.resourceAttributesOverrides | toYaml | nindent 10 }}
          {{- end }}
    {{- end }}
    {{- if and $merged.otel.config $merged.otel.config.exporters }}
    exporters: {{ $merged.otel.config.exporters | toYaml | nindent 6 }}
    {{- else }}
    exporters:
      debug:
        verbosity: detailed
      otlphttp:
        auth:
          authenticator: headers_setter
        endpoint: {{ $merged.otel.gatewayURL }}
        tls:
          insecure: false
    {{- end }}
    {{- if and $merged.otel.config $merged.otel.config.extensions }}
    extensions: {{ $merged.otel.config.extensions | toYaml | nindent 6 }}
    {{- else }}
    extensions:
      headers_setter:
        headers:
        - action: insert
          from_context: X-Beholder-Node-Auth-Token
          key: X-Beholder-Node-Auth-Token
      health_check:
        endpoint: ${env:MY_POD_IP}:13133
    {{- end }}
    {{- if and $merged.otel.config $merged.otel.config.service }}
    service: {{ $merged.otel.config.service | toYaml | nindent 6 }}
    {{- else }}
    service:
      extensions:
        - headers_setter
      telemetry:
        logs:
          level: {{ $merged.otel.configOverrides.service.telemetry.logs.level }}
          encoding: {{ $merged.otel.configOverrides.service.telemetry.logs.encoding }}
      pipelines:
        logs:
          exporters:
            {{- if $merged.otel.configOverrides.service.pipelines.logs.exporters.debug }}
            - debug
            {{- end }}
            - otlphttp
          processors:
            - k8sattributes
            - resource
            - memory_limiter
            - batch
          receivers:
            - otlp
        metrics:
          exporters:
            {{- if $merged.otel.configOverrides.service.pipelines.metrics.exporters.debug }}
            - debug
            {{- end }}
            - otlphttp
          processors:
            - resource
            - k8sattributes
            - memory_limiter
            - batch
          receivers:
            - otlp
        traces:
          exporters:
            {{- if $merged.otel.configOverrides.service.pipelines.traces.exporters.debug }}
            - debug
            {{- end }}
            - otlphttp
          processors:
            - k8sattributes
            - resource
            - memory_limiter
            - batch
          receivers:
            - otlp
    {{- end }}
{{- end }}
{{- end }}
