{{- $global := . -}}
{{- range until (include "chainlink-cluster.clusterSize" . | int) }}
  {{- $merged := dict "common" $global.Values.common "overrides" $global.Values.overrides "idx" . | include "chainlink-cluster.merged" | fromYaml -}}
  {{- if and ($global.Values.enabled) ($merged.scrapeconfig.enabled) }}
  {{- $nodeName :=  dict "global" $global "merged" $merged "idx" . | include "chainlink-cluster.nodeName" -}}
  {{- $labels := dict "global" $global "merged" $merged "nodeName" $nodeName | include "chainlink-cluster.labelMachine" | fromYaml }}
---
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: {{ $nodeName }}
  labels: {{ $labels.scrapeconfig | nindent 4 }}
spec:
  httpSDConfigs:
  - url: {{ printf "http://%s.%s:%s/discovery" $nodeName $global.Release.Namespace (include "chainlink-cluster.uiPort" .) }}
  relabelings:
    - action: replace
      regex: ^([a-zA-Z0-9-]+?-\d+)-[a-zA-Z0-9]+-[a-zA-Z0-9]+:(\d+)$
      replacement: ${1}.{{ $global.Release.Namespace }}.svc.cluster.local:${2}
      sourceLabels:
        - __address__
      targetLabel: __address__
    - action: replace
      sourceLabels:
        - __metrics_path__
      targetLabel: metrics_path
    - action: replace
      regex: scrapeConfig/{{ $global.Release.Namespace }}/(.*)
      replacement: ${1}
      sourceLabels:
        - job
      targetLabel: service
    - replacement: {{ $global.Release.Namespace }}
      targetLabel: namespace
    - replacement: {{ (index $global.Values "common" "requiredLabels" "app.kubernetes.io/component") }}
      targetLabel: component
    - replacement: {{ (index $global.Values "common" "requiredLabels" "app.chain.link/team") }}
      targetLabel: team
    - replacement: {{ (index $global.Values "common" "requiredLabels" "app.chain.link/product") }}
      targetLabel: product
    - replacement: {{ (index $global.Values "common" "requiredLabels" "app.chain.link/blockchain") }}
      targetLabel: blockchain
    - replacement: {{ (index $global.Values "common" "requiredLabels" "app.chain.link/network") }}
      targetLabel: network
    - replacement: {{ (index $global.Values "common" "requiredLabels" "app.chain.link/network-type") }}
      targetLabel: network_type
    - replacement: {{ $nodeName }}
      targetLabel: app
  scrapeInterval: 30s
  {{- end }}
{{- end }}
