[Monitoring]
Enabled = true
Type = "beholder"

[Monitoring.Beholder]
InsecureConnection = true
CACertFile = ""
OtelExporterGRPCEndpoint = ""
OtelExporterHTTPEndpoint = "otel-collector:4318"
LogStreamingEnabled = true
MetricReaderInterval = 5
TraceSampleRatio = 1.0
TraceBatchTimeout = 10

[[Discoveries]]
Address = "aggregator:50051"
Since = 0
PollInterval = 1
Timeout = 5
MessageChannelSize = 1000
NtpServer = "time.google.com"

[[Verifier]]
Type = "aggregator"
IssuerAddresses = ["0x1234567890123456789012345678901234567890"]
Address = "aggregator:50051"
Since = 0

[[Verifier]]
Type = "rest"
IssuerAddresses = ["0x0987654321098765432109876543210987654321"]
BaseURL = "http://verifier:8080"
RequestTimeout = 10

[Storage]
Strategy = "single"

[Storage.Single]
Type = "postgres"

[Storage.Single.Postgres]
URI = "postgresql://indexer:indexer@indexer-db:5432/indexer?sslmode=disable"
MaxOpenConnections = 20
MaxIdleConnections = 5
IdleInTxSessionTimeout = 60
LockTimeout = 30

[API]
[API.RateLimit]
Enabled = false
