stubQuorumValidation = false
pyroscope_url = "http://pyroscope:4040"

[server]
  address = ":50051"

[storage]
  type = "dynamodb"
  
  [storage.dynamoDB]
    region = "us-east-1"
    endpoint = "http://aggregator-dynamodb:8000" # Local DynamoDB endpoint for development
    commitVerificationRecordTableName = "commit_verification_records"
    finalizedFeedTableName = "aggregated_reports"
    checkpointTableName = "checkpoint_records"

[committees]
  [committees.default]
    [committees.default.quorumConfigs]
      [committees.default.quorumConfigs.12922642891491394802]
        committeeVerifierAddress = "0x0B306BF915C4d645ff596e518fAf3F9669b97016"
        threshold = 2

        [[committees.default.quorumConfigs.12922642891491394802.signers]]
          participantID = "participant1"
          addresses = ["0x6b3131d871c63c7fa592863e173cba2da5ffa68b"]

        [[committees.default.quorumConfigs.12922642891491394802.signers]]
          participantID = "participant2"
          addresses = ["0x099125558781da4bcdb16e457e15d997ecac68a8"]
      [committees.default.quorumConfigs.3379446385462418246]
        committeeVerifierAddress = "0x0B306BF915C4d645ff596e518fAf3F9669b97016"
        threshold = 2

        [[committees.default.quorumConfigs.3379446385462418246.signers]]
          participantID = "participant1"
          addresses = ["0x6b3131d871c63c7fa592863e173cba2da5ffa68b"]

        [[committees.default.quorumConfigs.3379446385462418246.signers]]
          participantID = "participant2"
          addresses = ["0x099125558781da4bcdb16e457e15d997ecac68a8"]
      [committees.default.quorumConfigs.4793464827907405086]
        committeeVerifierAddress = "0x0B306BF915C4d645ff596e518fAf3F9669b97016"
        threshold = 1

        [[committees.default.quorumConfigs.4793464827907405086.signers]]
          participantID = "participant1"
          addresses = ["0x6b3131d871c63c7fa592863e173cba2da5ffa68b"]
    [committees.default.sourceVerifierAddresses]
      12922642891491394802 = "0x0B306BF915C4d645ff596e518fAf3F9669b97016"
      3379446385462418246 = "0x0B306BF915C4d645ff596e518fAf3F9669b97016"
      4793464827907405086 = "0x0B306BF915C4d645ff596e518fAf3F9669b97016"

[Monitoring]
Enabled = true
Type = "beholder"
[Monitoring.Beholder]
InsecureConnection = true
CACertFile = ""
OtelExporterGRPCEndpoint = ""
OtelExporterHTTPEndpoint = "otel-collector:4318"
LogStreamingEnabled = true
MetricReaderInterval = 5
TraceSampleRatio = 1.0
TraceBatchTimeout = 10