name: Deploy to griddle environments

# This workflow is triggered by the `issue_comment` event and is responsible for
# deploying a service to a griddle environment based on the comment made on a pull request.
# It uses the `branch-deploy` action to handle the deployment logic and the
# `deploy-service` action to perform the actual deployment.

on:
  issue_comment:
    types: [created]

permissions:
  pull-requests: write
  deployments: write
  contents: write
  checks: read
  statuses: write
  id-token: write
  actions: read
  packages: read

jobs:
  trigger:
    if: ${{ github.event.issue.pull_request}}
    runs-on: ubuntu-latest
    outputs:
      continue: ${{ steps.branch-deploy.outputs.continue}}
      noop: ${{ steps.branch-deploy.outputs.noop}}
      deployment_id: ${{ steps.branch-deploy.outputs.deployment_id}}
      environment: ${{ steps.branch-deploy.outputs.environment}}
      sha: ${{ steps.branch-deploy.outputs.sha}}
      comment_id: ${{ steps.branch-deploy.outputs.comment_id}}
      initial_reaction_id: ${{ steps.branch-deploy.outputs.initial_reaction_id}}
      actor_handle: ${{ steps.branch-deploy.outputs.actor_handle}}
    steps:
      - uses: smartcontractkit/.github-internal/actions/branch-deploy@branch-deploy/1.3.0
        id: branch-deploy
        with:
          enforced_deployment_order: "dev"
          environment_targets: "dev"
  deploy:
    needs: trigger
    if: ${{ needs.trigger.outputs.continue == 'true'}}
    runs-on: ubuntu-latest
    steps:
      - name: Deployment Info
        run: |
          echo "continue: ${{ needs.trigger.outputs.continue}}"
          echo "noop: ${{ needs.trigger.outputs.noop}}"
          echo "deployment_id: ${{ needs.trigger.outputs.deployment_id}}"
          echo "environment: ${{ needs.trigger.outputs.environment}}"
          echo "sha: ${{ needs.trigger.outputs.sha}}"
          echo "comment_id: ${{ needs.trigger.outputs.comment_id}}"
          echo "initial_reaction_id: ${{ needs.trigger.outputs.initial_reaction_id}}"
          echo "actor_handle: ${{ needs.trigger.outputs.actor_handle}}"
          echo "issue_number: ${{ github.event.issue.number}}"
      - uses: smartcontractkit/.github-internal/actions/deploy-service@deploy-service/1.2.0
        id: griddle-cli
        with:
          deployment_id: ${{ needs.trigger.outputs.deployment_id }}
          environment: ${{ needs.trigger.outputs.environment }}
          comment_id: ${{ needs.trigger.outputs.comment_id }}
          initial_reaction_id: ${{ needs.trigger.outputs.initial_reaction_id }}
          issue_number: ${{ github.event.issue.number }}
          actor_handle: ${{ needs.trigger.outputs.actor_handle }}
          role: ga-my-project-my-service-deployer
          digest: ${{ needs.trigger.outputs.sha}}
          use-ref: 'true'
          ref: ${{ needs.trigger.outputs.sha }}
