name: Detect instance changes
on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  pull-requests: write
  contents: read
  checks: write
  statuses: write
  id-token: write

jobs:
  check:
    runs-on: ubuntu-latest
    concurrency:
      group: pr-${{ github.event.pull_request.number || github.event.issue.number }}
      cancel-in-progress: true
    steps:
      - uses: smartcontractkit/.github-internal/actions/detect-instance-deletion@detect-instance-deletion/1.1.0
        with:
          github-token: ${{ github.token }}
