name: Repo Hygiene Checks

on:
  merge_group:
  pull_request:
  push:
    branches:
      - main

jobs:
  hygiene-checks:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Setup GitHub Token
        id: setup-github-token
        uses: smartcontractkit/.github/actions/setup-github-token@ef78fa97bf3c77de6563db1175422703e9e6674f # setup-github-token@0.2.1
        with:
          aws-role-arn: ${{ secrets.GATI_AWS_ROLE_ARN_CHAINLINK_READ_ONLY }}
          aws-lambda-url: ${{ secrets.GATI_LAMBDA_URL_RELENG }}
          aws-region: ${{ secrets.GATI_AWS_REGION }}
          set-git-config: true

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6 # v6
        env:
          GOPRIVATE: github.com/smartcontractkit/*
        with:
          cache: true
          go-version-file: 'go.mod'

      - name: Install just
        uses: extractions/setup-just@69d82fb0233557aec017ef13706851d0694e0f1d # v2.0.0

      - name: Install go-tools
        run: just install-go-tools

      # Check that go.mod files have fully specificed Go versions that match tool-versions.env
      - name: Enforce go.mod Go versions
        run: tools/bin/check-go-versions.sh

      - name: Run repo hygiene checks
        run: tools/bin/check_repo_clean.sh tidy mock generate shellcheck
