name: Repo Hygiene Checks

on:
  merge_group:
  pull_request:
  push:
    branches:
      - main

jobs:
  hygiene-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6 # v6
        with:
          cache: true
          go-version-file: 'go.mod'

      - name: Install just
        uses: extractions/setup-just@69d82fb0233557aec017ef13706851d0694e0f1d # v2.0.0

      - name: Install go-tools
        run: just install-go-tools

      - name: Run repo hygiene checks
        run: tools/bin/check_repo_clean.sh
