name: CCV Load Test - PR

on:
  pull_request:

defaults:
  run:
    working-directory: build/devenv

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e-load-pr:
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    runs-on: runs-on=${{ github.run_id }}/family=c6i/cpu=32+48/ram=64+96/spot=false/image=ubuntu24-full-x64/extras=s3-cache+tmpfs
    strategy:
      fail-fast: false
      matrix:
        test:
          - subtest: clean
            timeout: 4m
    steps:
      - name: Enable S3 Cache for Self-Hosted Runners
        uses: runs-on/action@cd2b598b0515d39d78c38a02d529db87d2196d1e # v2.0.3
      
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Run load test
        uses: ./.github/actions/run-load-test
        with:
          subtest: ${{ matrix.test.subtest }}
          timeout: ${{ matrix.test.timeout }}
          ccv-iam-role: ${{ secrets.CCV_IAM_ROLE }}
          jd-registry: ${{ secrets.JD_REGISTRY }}
          jd-image: ${{ secrets.JD_IMAGE }}
