name: Test Chainlink Node Integration

on:
  pull_request:

defaults:
  run:
    working-directory: build/devenv

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e-smoke-cl-mode:
    permissions:
      id-token: write
      contents: read
    runs-on: runs-on=${{ github.run_id }}-${{ strategy.job-index }}/family=c6i/cpu=32+48/ram=64+96/spot=false/image=ubuntu24-full-x64/extras=s3-cache+tmpfs
    strategy:
      matrix:
        test: [
          { name: "TestE2ESmoke", config: "env.toml,env-cl.toml,env-cl-ci.toml" },
          # We need to configure HeadTracker for the CL tests to have finality depth. Otherwise, it does instant finality.
#          { name: "TestE2EReorg", config: "env.toml,env-src-auto-mine.toml,env-cl.toml,env-cl-ci.toml" },
        ]
      fail-fast: false
    steps:
      - name: Enable S3 Cache for Self-Hosted Runners
        uses: runs-on/action@cd2b598b0515d39d78c38a02d529db87d2196d1e # v2.0.3 

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Build CL Image For Ref
        uses: ./.github/actions/build-cl
        with:
          # Prefer a SHA from the develop branch, since branches that get deleted on remote will cause this
          # checkout to fail.
          ref: fb66aa19b7a46e02cedb21e7bbbc7813dbb8a93e

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Install Just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3
        with:
          just-version: '1.40.0'

      - name: Authenticate to AWS ECR
        uses: ./.github/actions/aws-ecr-auth
        with:
          role-to-assume: ${{ secrets.CCV_IAM_ROLE }}
          aws-region: us-east-1
          registry-type: public
      
      - name: Authenticate to AWS ECR (JD)
        uses: ./.github/actions/aws-ecr-auth
        with:
          role-to-assume: ${{ secrets.CCV_IAM_ROLE }}
          aws-region: us-west-2
          registry-type: private
          registries: ${{ secrets.JD_REGISTRY }}

      - name: Set up Go
        uses: actions/setup-go@v6 # v6
        env:
          # suppress tar warnings about existing files when setting up Go for a second time
          # initially setup in the build-cl action
          TAR_OPTIONS: --skip-old-files
        with:
          cache: true
          go-version-file: build/devenv/go.mod
          cache-dependency-path: |
            build/devenv/go.sum

      - name: Download Go dependencies
        run: |
          go mod download

      - name: Build Docker Images
        run: just build-docker-dev-ci
        env:
          DOCKER_BUILDKIT: 1

      - name: Run Observability Stack
        run: |
          cd cmd/ccv && go install . && cd -
          ccv obs u -m loki

      - name: Run CCV environment with config
        run: |
          ccv u ${{ matrix.test.config }}

      - name: Run Smoke Test
        working-directory: build/devenv/tests/e2e
        env:
          LOKI_URL: http://localhost:3030/loki/api/v1/push
        run: |
          go test -v -timeout 15m -count=1 -run ${{ matrix.test.name }}
      
      - name: Upload Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: container-logs-cl-${{ matrix.test.name }}
          path: build/devenv/tests/e2e/logs
          retention-days: 1
